/* main style */
/* ************* */

:root{
    /* --main-color:#1d3344; */
    --main-color:#4c6593;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.pad{
    padding: 40px 0;
}
.container {
    width:80%;
    margin:auto;
}
.unlisted{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.special-pad{
    padding: 0  0 50px ;
}
h3.special {
    margin: auto;
    width: fit-content;
    font-size: 40px;
    color:var(--main-color);
}
img{
    max-width: 100%;
    /* max-height: 300px; */
}
/* header style */
/* ************* */

header{
    background-image:url(../images/header/chrome-team-bargain-health-work.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;

}
.head-content{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: 300px;
}
.top-head{
        display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    border-bottom: 3px solid #fff;
}
.top-head-content{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.right-bar{
    width: 100%;
}
.logo-image{
   max-width:50%
}
.logo-image img{
    max-width: 100%;
}
.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    /* transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s; */
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.bar{
    display: none;
}
.bar i{
        padding: 20px;
        color: #fff;
    font-size: 30px;
}
.nav-list .list-item {
    font-weight: bold;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.nav-list .list-item:hover {
    border-bottom: 3px solid var(--main-color);
}
.nav-list .list-item a{
    color: #ffff;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    font-size: 18px;
}
.nav-list .list-item:hover a , .nav-list .active a{
    color:var(--main-color);
}
.bottom-head{
    color: #fff;
    width: 50%;
}
.header-head{
    color:var(--main-color);
    margin-bottom: 10px;
}
/* media query for header */
@media (max-width :997px){
    .top-head{
        display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    border:none;
}
.right-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
.bar{
    display: block;
}
.nav-bar{
   transform: translatex(-100%);
   -moz-transform: translatex(-100%);
   -ms-transform: translatex(-100%);
   -webkit-transform: translatex(-100%);
   -o-transform: translatex(-100%);
}
.nav-bar-show{
   transform: translatex(0);
}
.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    text-align: center;
    margin: auto;
}
.bottom-head{
    width:100%;
    text-align: center;
}
}


/* services style */
/* ************* */
.services-content{
    display: grid;
     grid-template-columns: repeat(3 , 1fr);
     grid-gap: 20px;
     color:var(--main-color)
}
.service-item {
    position: relative;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.service-img {
    position: relative;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.service-info{
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.service-item:hover .service-info{
    color:#fff;
    text-align: center;
    background-color: var(--main-color);
    padding: 20px 0;
}

.serv-img{
    height: 300px;
    width: 100%;
}
.service-head{
    margin:10px 0;
}
.service-text{
    margin:10px 0;   
}
/* media query for services section */
@media (max-width: 997px){
    .services-content{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap:30px;
}
}
@media (max-width: 575px){
.services-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:30px;
}
}
/* about style */
/* ************* */
.team{

}
.team-content{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
/* appointment style */
/* ************* */
.appointment{
    background-image: url(../images/appointment/young-handsome-physician-medical-robe-with-stethoscope.jpg);
    min-height: 200px;
    color:var(--main-color);
    background-size: cover;
    background-position:center ;
}
.appointment-info{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.appoint-btn {
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: var(--main-color);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 15px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.appoint-btn:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.appoint-btn a{
 color:#fff;
 font-size: 18px;
}
/* media query for appointment section */
@media (max-width: 767px){
.appointmen{
    text-align: center;
}
.appointment-info{
    text-align: center;
    width: 100%;
    align-items: center;
}
}
/* footer style */
/* ************* */

footer{
    background-color: var(--main-color);
    color:#fff;
}
.up-footer-content {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 30px;
}
/* .footer-text{
    text-align: center;
} */
.contact-group{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-item p {
    margin-left: 15px;
    text-align: left;
}
.contact-item i {
    font-size: 20px;
}
.social.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.social.contact-item a i {
    color: #ffff;
}
.addres{
    font-size: 15px;
    margin-left: 10px;
}
.support-list-par{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    min-height: 200px;
}
.support a{
    color:#fff;
}
.down-footer-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
    align-items: center;
}
.copy span{
        color: #6697f3;
    font-weight: bold;
}
input#your-email {
    width: 200px;
    height: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
}
input[type="submit"] {
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    background-color: violet;
    color: #fff;
    color: var(--main-color);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.contact , .support{
    margin-top: 30px;
}
/* media query for footer section */
 @media (max-width: 991px) {
  .up-footer-content{
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      grid-gap: 30px;
  }   
  .contact {
      margin-top: 30px;
  }
   .support{
    margin-top: 0;
}
}
@media (max-width: 767px){
.down-footer-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
}
}
@media (max-width: 575px){
    .up-footer-content{
        grid-template-columns: 1fr;
        text-align: left;
    }
    .contact-group{
        min-height: 170px;
    }
    .support-list-par{
       display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    min-height: 100px;
}
  .contact {
      margin-top: 0px;
  }
    
}
@media (max-width: 575px) and (min-width: 376px){
    .social.contact-item{
        max-width: 40%;
    }
}
/* 
           media quary style
    ***************************************
        //extra small devices @media (maxwidth:575px)
        //small devices @media (maxwidth:767px)
        //medium devices @media (maxwidth:991px)
        //large devices @media (maxwidth:1199px)
*/ 